# Project Introduction/Business Problem:


The main purpose of this project is to analyze Chicago crime data and suggest people better locality and area to look out for housing. Analysis performed includes getting the geocodes of the addresses already present in the dataset using foursquare API. Results from this project helps general population to find better housing area with higher safety and affordable within their requirements.

# Data:

Dataset with the name Chicago Crime has got columns like type of crime, description ,location description, street address, city, state, year of crime, community area name, police distrcit and many other details. I will be not using all the columns for analysis however, only the required columns are retained and unwanted columns will be dropped. During the analysis, address columns are used to generate geocodes using foursquare API and other columns like type of crime,location will be primely considered in order to suggest the locality to the residents. This dataset is available online. For convenience, I downloaded the dataset and below is the dataset I imported.

In [2]:
import os
os.getcwd()

'C:\\Users\\banda\\Data Science1'

In [3]:
import pandas as pd
df=pd.read_csv("Chicago_Crime_Data.csv")

In [4]:
df.head()

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,UPDATEDON,LATITUDE,LONGITUDE,LOCATION
0,3512276,HK587712,08/28/2004 05:50:56 PM,047XX S KEDZIE AVE,890,THEFT,FROM BUILDING,SMALL RETAIL STORE,False,False,...,14.0,58.0,6,1155838.0,1873050.0,2004,02/10/2018 03:50:01 PM,41.807441,-87.703956,"(41.8074405, -87.703955849)"
1,3406613,HK456306,06/26/2004 12:40:00 PM,009XX N CENTRAL PARK AVE,820,THEFT,$500 AND UNDER,OTHER,False,False,...,27.0,23.0,6,1152206.0,1906127.0,2004,02/28/2018 03:56:25 PM,41.898280,-87.716406,"(41.898279962, -87.716405505)"
2,8002131,HT233595,04/04/2011 05:45:00 AM,043XX S WABASH AVE,820,THEFT,$500 AND UNDER,NURSING HOME/RETIREMENT HOME,False,False,...,3.0,38.0,6,1177436.0,1876313.0,2011,02/10/2018 03:50:01 PM,41.815933,-87.624642,"(41.815933131, -87.624642127)"
3,7903289,HT133522,12/30/2010 04:30:00 PM,083XX S KINGSTON AVE,840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,False,...,7.0,46.0,6,1194622.0,1850125.0,2010,02/10/2018 03:50:01 PM,41.743665,-87.562463,"(41.743665322, -87.562462756)"
4,10402076,HZ138551,02/02/2016 07:30:00 PM,033XX W 66TH ST,820,THEFT,$500 AND UNDER,ALLEY,False,False,...,15.0,66.0,6,1155240.0,1860661.0,2016,02/10/2018 03:50:01 PM,41.773455,-87.706480,"(41.773455295, -87.706480471)"